*{
    font-family: "General Sans";
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#minicircle {
    width: 12px;
    height: 12px;
    color: white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 99999;
}
#main{
    color: white;
    width: 100%;
    height: auto;
    background-color: black;
}
#home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white; 
}
#nav a {
    text-decoration: none;
    font-size:18px;
    color: white;
}
#heading {
    margin-top: 90px;
}
#heading h1 {
    margin-left: 40px;
    line-height: 1;
    font-family: "General Sans Medium";
    font-size: 10vw;
    text-transform: uppercase;
    opacity: .6;
    font-weight: 900;
}
#heading #secondh1 {
    margin-left: 330px;
}
.blocktext{
    width: fit-content;   
}
.blocktext h5 {
    text-transform: uppercase;
    font-size: 15PX;
    text-align: right;
}
#smallheadings{
    margin-top:120px;
    padding-right: 30px ;
    text-transform: uppercase;
    text-align: right;
    font-size: .5vw;
}
#mainfooter{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 2% ;
    width: 100%;
    padding: 0 2vw;
    
}
#mainfooter a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
#mainfooter #iconset {
    display: flex;
    gap: 5px;
}
#mainfooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
}
#secondpg {
    padding-right: 10vw;
    padding-top: 250px;
    background-color: black;
    width: 100%;
    height: 100vw;
}
.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    padding: 3.5vw 3vw;
    width: 100%;
    border-top: 1px solid #888;
}
.elem h1{
    font-size: 7vw;
    text-transform: uppercase;
    opacity: .8;
}

.elemlast {
    border-bottom: 1px solid #888;
}
.elem img {
    display: none;
    /*opacity: 0;*/
    position:absolute;
    z-index: 999;
    height: 100%;
}
#aboutus {
    display: flex;
    gap: 30px;
    background-color: black;
    color: white;
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#aboutus img{
    width: 200px;
}
#textabout {
    width: 40rem;
    
}
#textabout h5 {
    
    opacity: .6;
    margin-bottom: 10px;
}
#textabout p{
    text-transform: uppercase;
    line-height: 1.7;
    margin-bottom: 30px;

}
#textabout a{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    text-decoration: none;
}
#subcribe { 
    padding: 7vw;
    width: 100%;
    background-color: black;
    padding: 20px 30px;
}
#subcribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subcribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;

}
#footerleft {
    display: flex;
    gap: 30px;

}
#footer a{
    gap: 20px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#footerright{
    display: flex;
    gap: 20px;
}
